* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

input,
select,
textarea {
  height: 2rem;
  border: 1px solid $black;
}

input,
textarea {
  padding: .5rem;
}

a {
  color: $ui-color-action;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}
