$primary: #A3C1AD;
$primary-dk: #6B9B7B;
$white: #E6E6E7;
$black: #000000;

$action: #ADA3C1;
$action-dk: #7B6B9B;

$secondary: #C1ADA3;
$secondary-dk: #9B7B6B;

$alert-lt: #C1A3B7;
$alert: #9B6B8B;
$alert-dk: #743F63;
