$dark-theme-bg-primary: #0C0C0D;
$dark-theme-bg-secondary: #323234;
$dark-theme-bg-thirdary: #474749;
$dark-theme-text-color: #fff;
$dark-theme-text-inverse: $dark-theme-bg-primary;

$light-theme-bg-primary: #fff;
$light-theme-bg-secondary: #fff;
$light-theme-bg-thirdary: #fff;
$light-theme-text-color: #2c3e50;
$light-theme-text-inverse: $light-theme-bg-primary;

$ui-color-action: #2196F3;

$white: #fff;
$black: #000;

$pad-unit: 8px;
