* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

input,
select {
  height: 2rem;
  border: 1px solid #000;
}

button {
  height: 2rem;
  background-color: $ui-color-action;
  border: 1px solid #000;
  padding: 5px;
  cursor: pointer;
}
